[Desktop Entry]
Encoding=UTF-8
Name=VMware Player Installer
Name[de]=VMware Player Installer
Name[el]=Εγκατάσταση του VMware Player
Name[es]=Instalador del reproductor VMware
Name[fr]=Installateur du lecteur multimédia VMware
Name[id]=Penginstal VMware Player
Name[ja]=VMware Player インストールツール
Name[pl]=VMware Player Instalator
Name[pt_BR]=Instalador do VMware Player
Name[pt_PT]=VMware Player Installer
Name[ru]=Установщик VMware Player
Name[uk]=Встановлювач VMware Player
Comment=This lets you install, upgrade and remove VMware Player
Comment[de]=Er lässt dich VMware Player installieren, aktualisieren und entfernen
Comment[el]=Εγκατάσταση/Απεγκατάσταση και Αναβάθμιση του VMware Player
Comment[es]=Esto le permite instalar, actualizar y eliminar el reproductor VMware
Comment[id]=Ini untuk menginstal, upgrade dan menghapus VMware Player
Comment[fr]=Ceci va vous permettre d'installer, mettre à jour ou supprimer le lecteur multimédia VMware
Comment[it]=Installa, aggiorna e rimuovi VMware Player
Comment[ja]=VMware Playerをインストール、アップグレード、削除できます
Comment[pl]=Pozwala na instalację, aktualizację i usunięcie VMware Player
Comment[pt_BR]=Isto permite-lhe instalar, atualizar e remover o VMware Player
Comment[pt_PT]=Isto permite-lhe instalar, atualizar e remover VMware Player
Comment[ru]=Позволяет вам устанавливать, обновлять и удалять VMware Player
Comment[uk]=Встановити, оновити або видалити VMware Player
Exec=remsu /usr/bin/sparky-vmplayer-installer
Icon=vmware
Categories=Application;System;
Terminal=False
Type=Application
